[general]
; define the time to wait in-between checking for new events in seconds. default = 3600 (= 1 hour)
sleep = 3600
; option to delete events from MAD database, which are not part of EventWatcher plugin ['true' or 'false']
delete_events = false
; language for Telegram and Discrod notifications. ['en'(default) or 'de']
language = en
; optional. If you want to store .eventcache file in another folder, uncomment and set absolut path. Shall end with '/'
#custom_eventcache_path = 

; *******************************
; * Pokemon reset configuration *
; *******************************
; option to automatically delete obsolete pokemon from MAD database on start and end of spawn event to enable MAD to rescan pokemon. ['true' or 'false' (default)]
reset_pokemon_enable = false
; define pokemon delete strategy. ['all' or 'filtered'(default)]
reset_pokemon_strategy = filtered

; *******************************
; * Quest reset configuration   *
; *******************************
; option to automatically delete quests from MAD database on start and/or end of quest changing event to enable MAD to rescan quests. ['true' or 'false' (default)]
reset_quests_enable = false
; define event types and if you want quests to reset for their start, end or both. [Available event types are 'event', 'community-day', 'spotlight-hour' and 'raid-hour']
reset_quests_event_type =
; time window, in which quests would be scanned (regular and rescan). Used for inform users about possible rescan (24h, only full hours are supported). e.g. quest_rescan_timewindow = 02-18
quest_rescan_timewindow =
; define event name text phrases, which shall be excluded for quest reset. Separate multiple event name text phrases with comma. Uncomment (remove #) to use.
#reset_quests_exclude_events = go battle day

; **********************************
; * scanner configuration *
; **********************************
[scanner]
; General: scanner system [mad, rdm or golbathybrid]
scanner = mad
; General: (optional) user OS shell command, which should be executed on quest reset. Can also be a shellscript with custom restart MAD.
#rescan_trigger_cmd = sh userscripts/mad_custom_apply_settings.sh
; mad: (optional) host adress. use localhost, if DB running local on same server
#db_host = 
; mad: (optional) port of database. Set, if you use a non-default port. default: 3306
#db_port = 
; mad: scanner database name
db_name =
; mad: database user (need select and delete access rights)
db_user =
; mad: database user passwort
db_password =
; mad: madmin port to call reload ('apply settings') on quest reset to reset worker. For multiple MAD instances list instance ports with comma.
rescan_trigger_madmin_ports = 5000
; rdm or golbathybrid: RDM API url (webfrontend url incl. port)
rdm_api_url = http://127.0.0.1:9001
; rdm or golbathybrid: RDM API admin username
rdm_api_user =
; rdm or golbathybrid: RDM API admin password
rdm_api_password =
; rdm or golbathybrid: name of RDM quest rescan assignment group
rdm_assignment_group =
; golbathybrid: Golbat API url of golbat (incl. port)
golbat_api_url = http://127.0.0.1:9010
; golbathybrid: Golbat API secret
golbat_api_secret =

; *******************************
; * Telegram info configuration *
; *******************************
[telegram]
; Enable or disable Telegram notification feature. ['true' or 'false' (default)]
tg_info_enable = false
; Telegram bot API token from @godfather. e.g. 12345678:abcdefghijklmnopqrstuvwxyz
tg_bot_token =
; @username or id. Example: tg_chat_id = -12345678 -> @bruellhamster
tg_chat_id =

; *******************************
; * Discord info configuration *
; *******************************
[discord]
; Enable or disable Discord notification feature. ['true' or 'false' (default)]
dc_info_enable = false
; Provide Discord Webhook Url. Separate multiple webhocks with comma. Example: dc_webhook_url = https://discord.xyz/asdf, https://discord.xyz/hjkl
#dc_webhook_url = https://discord.xyz/asdf
; Provide a name for the "Bot User"
#dc_webhook_username = PoGo Quest bot
